.App {
  text-align: center;
}


.App-header {
  /* background-color: #92a8d1; */
  background-image: url("BD5.jpg");
  background-size:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
